.footer{
    display: flex;
    align-items: center;
    background-color: #341D10;
    font-size: 12px;
    width: auto;
    height: 100px;
}

.logo{
    width: 120px;
}

.redesSociais{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-self: center;
    gap: 10px;
    cursor: pointer;
}

.circle{
    background-color: #E2DBB5;
    border-radius: 50%;
}

.itemRedeSocial{
    width: 60px;
    padding: 8px;
}