.footer {
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #341d10;
  font-size: 12px;
  width: auto;
  height: 180px;
}

.imagens{
    display: flex;
    gap: 10px;
    margin: 15px;
}

.logoXicara {
  width: 120px;
  cursor: pointer;
}

.logoTexto {
  width: 200px;
  cursor: pointer;
}

.redesSociais {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.circle {
  background-color: #e2dbb5;
  border-radius: 50px;
}

.itemRedeSocial {
  width: 80px;
  padding: 8px;
}
