main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero{
    position: relative;
    width: auto;
    height: 45rem;
    color: white;
    overflow: hidden;
}

.hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/GraosDeCafe-horizontal.jpg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    z-index: 0;
}

.conteudoHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.cabecalho{
    position: relative;
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.textoHero{
    max-width: 600px;
}

.textoHero h1{
    font-size: 4rem;
}

.textoHero p{
    font-size: 16px;
    margin-left: 16px;
}

.logoCompleta{
    width: 50rem;
}

.botoes{
    display: flex;
    gap: 5rem;
    font-size: 26px;
}

.produtos{
    color: #E2DBB5;
    background-color: #12141B;
    padding: 6px;
    border: 1px solid #E2DBB5;
    border-radius: 14px;
}

.experiencia{
    color: #E2DBB5;
    padding: 6px;
    border: 1px solid #E2DBB5;
    border-radius: 14px;
}