.navbar{
    display: flex;
    align-items: center;
    background-color: #E2DBB5;
    font-size: 12px;
    width: auto;
    height: 90px;
}

.logo{
    width: 110px;
    margin: 15px;
    cursor: pointer;
}

.itemNavbar{
    padding: 10px 20px;
    border-right: 2px solid black;
    cursor: pointer;
}

.itemNavbarSobre{
    padding: 10px 20px;
    cursor: pointer;
}